<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Enterprise Framework"
       parallel="methods"
       thread-count="3">

    <test name="Smoke Tests">

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="com.kanchansali.tests.LoginTest"/>
            <class name="com.kanchansali.tests.GetUserApiTest"/>
        </classes>

    </test>

</suite>